.fancypantsaccordionholder .accordion .accordion-item .headerlink{
	font-size:36px;
}

@media only screen and (min-width : 320px) {

	.fancypantsaccordionholder{
		max-width:100%;
		margin: 0 auto;

		.accordion{
			margin: 0;
		}

		.accordion .accordion-item{
			height:30px;
			border-bottom:1px solid #ccc;
			border-top:1px solid #fff;
			overflow:hidden;

			&:first-child{
				border-top:none;
			}

			.headerlink{
				font-size:14px;
				display:block;
				position:relative;
				line-height:30px;
				outline:none;
				transition: color 0.2s ease-in-out;

				p{
					font-size:10px;
				}

				span{
				   	background: transparent url('../img/down.png') no-repeat center center;
				    text-indent:-9000px;
				    width: 26px;
				    display:block;
				    height: 14px;
				    position: absolute;
				    top: 50%;
				   	right: 0;
				    margin-top: -7px;
				    opacity:0;
				    transition:  all 0.2s ease-in-out;
				}

				&:hover{ 
					span{
						opacity:1;
						right:10px;
					}
				}
			}

			&.acc-open{
				.headerlink{
					span{
						transform:rotate(180deg);
						right:10px;
						opacity:1;
					}
				}
			}

			.acc-content{
				padding:5px 0px 30px 0px;
				max-width:100%;

				img{
					max-width:100%;
					word-wrap:break-word;
				}

				> *{
					max-width:100%;
					word-wrap:break-word;
				}
			}
		}
	} 
}